@page "/activity"
@rendermode InteractiveServer

@inject NavigationManager Navigation

<PageTitle>activity</PageTitle>

<MudButton Variant="Variant.Filled"
           Color="Color.Primary"
           StartIcon="@Icons.Material.Filled.ArrowBack"
           OnClick="backToUpload">
    <b>Upload</b>
</MudButton>

<h1 style="font-weight: bold; margin-top: 7mm;">Activity</h1>


<h1 style="font-weight: bold; margin-top: 7mm;">Timeframe</h1>


<input type="date" @bind="selectedDateMin" style="width: 10%; padding: 5px; border: 1px solid #FFFFFF; border-radius: 5px; background-color: black; color: #FFFFFF;">

 To

<input type="date" @bind="selectedDateMax" style="width: 10%; padding: 5px; border: 1px solid #FFFFFF; border-radius: 5px; background-color: black; color: #FFFFFF;">


<h3 style="font-weight: bold; margin-top: 7mm;">Entries/Exits: @entriesAndExit</h3>
<h3 style="font-weight: bold; margin-top: 7mm;">People: @amountPeople</h3>

<div>
    <MudChart ChartType="ChartType.Bar" ChartSeries="@Series" @bind-SelectedIndex="Index" XAxisLabels="@XAxisLabels" Width="100%" Height="350px" Style="color: #FFFFFF;" ChartOptions="@Options"/>
    <MudGrid>
         
    </MudGrid>
</div>

<div>
    <MudChart ChartType="ChartType.Line" ChartSeries="@Series" @bind-SelectedIndex="Index" XAxisLabels="@XAxisLabels" Width="100%" Height="350px" Style="color: #FFFFFF;"  ChartOptions="@Options"/>
    <MudGrid>
         
    </MudGrid>
</div>



@* <MudSimpleTable Style="overflow-x: auto; background-color: rgb(75, 72, 72);">
    <thead>
        <tr>
            <th>Day of the Week</th>
            <th>Event Count</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var entry in Upload.eventsByDayOfWeek)
        {
            <tr>
                <td>@entry.Key</td>
                <td>@entry.Value.Count</td>
            </tr>
        }
    </tbody>
</MudSimpleTable> *@

<style>
    body {
        background-color: black;
        color: white;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    }

    input {
  color-scheme: dark;
}
.mud-chart text {
    fill: white !important;
}

.mud-chart-bar {
        stroke-width: 40px;
    }



</style>

@code {

    

      public static DateTime selectedDateMin { get; set; } = DateTime.Today;
      public static DateTime selectedDateMax { get; set; } = DateTime.Today;

      public static int entriesAndExit { get; set; } = 0;

      public static int amountPeople { get; set; } = 0;

       public List<ChartSeries> Series = Upload.Series;

        public string[] XAxisLabels = {"Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday" };

        private int Index = -1; 

        public ChartOptions Options = new ChartOptions();



    private void backToUpload()
    {
        Navigation.NavigateTo("/");
    }

    protected override void OnInitialized()
    {
        Console.WriteLine("Page has loaded! Running initialization logic...");
        // Your startup logic here
    }

   

   

}